* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.sh text eol=lf

# PDF byte offsets must not be changed by text line-ending normalisation.
*.pdf binary

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
